.container {
    background-color: antiquewhite;
    height: 400px;
    width: 1240px;
    border-top: 2px solid red;
    position: relative; 
}

.square {
    background-color: antiquewhite;
    width: 100px;
    height: 30px;
    margin-top: -2px;
    margin-left: 40px;
    border-radius: 4px;
    border: 2px solid red;
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    position: absolute; 
    z-index: 1;
}